<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <form action="/login" method="post">
            <h1>Login Now</h1>
            <p class="err"><%= locals.message %></p>
            <input type="email" name="email" placeholder="Email*" value="<%= locals.email %>">
            <input type="password" name="password" placeholder="Password*" >
            <button type="submit" class="btn btn-primary" name="action" value="login">Login</button>
            <button type="submit" class="btn btn-success" name="action" value="register">Sign Up</button>
        </form>
    </div>
</body>

</html>
