<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <form action="/logout" method="get">
            <h1>Hii <%= locals.username %>
            </h1>
            <h3 style="margin: 50px; text-align: center;  ">
                Here are your details
                <p>
                    UserID: <%= locals.userid %>
                </p>
                <p>
                    EmailID: <%= locals.email %>
                </p>
            </h3>
            <h4 style="margin-bottom: 20px; text-align: center; ">you can logout using this button </h4>
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</body>

</html>
