body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-danger {
    background-color: #fc5d13;
    border-color: #fc5d13;
}
.btn-danger:hover {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}
/* Bootstrap success button style */
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

/* Hover effect */
.btn-success:hover {
    color: #fff;
    background-color: #02661a;
    border-color: #0da330;
}

/* Hover effect */
.err {
    color: hsl(0, 100%, 50%);
    background-color: #ffffff;
    border-color: #ff0000;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    form {
        padding: 20px;
    }
}
